<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/estilos.css">
    <title>Ejercicio 2</title>

</head>
<body>
<div class="container">
     <h1>Formulario de Notas</h1>
     <form method="POST">
         <h2>
           Nombre 1: <input type="text" name="nombre1" required><br>
           Nombre 2: <input type="text" name="nombre2" required><br>
           Nombre 3: <input type="text" name="nombre3" required><br>
           <button type="submit">Enviar</button>
         </h2>
     </form>

</div>
</body>
</html>